.home{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 65px;
    
    background: var(--white); 

    .top{
        display: flex;
        padding: 240px 0px 100px 0px;
        flex-direction: column;
        align-items: center;
        gap: 65px;
        align-self: stretch;
        background: var(--theme1);

        .about{
            display: flex;
            padding: 10px 200px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            align-self: stretch;

            .tagline{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                color: #FFF;
                text-align: center;
                font-family: "Instrument Serif";
                font-size: 90px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }

            .info{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                flex: 1 0 0;

                color: rgba(255, 255, 255, 0.80);
                text-align: center;
                font-family: "Instrument Serif";
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .main_features{
            display: flex;
            align-items: center;
            gap: 80px;

            .feature_link{
                display: flex;
                padding: 16px 86px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                min-width: 200px;
                cursor: pointer;
                text-decoration: none;

                border-radius: 20px;
                background: #FFF;
                box-shadow: -10px 10px 0px 0px #061E1A;
                transition: box-shadow 0.2s ease-in-out;

                color: var(--theme2);
                text-align: center;
                font-family: Freeman;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }

            .feature_link:hover{
                box-shadow: -14px 14px 0px 0px #061E1A;   
            }
        }
    }
}